@import '../../scss/colors';

.landing-footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 32px;
  background-color: darken($primary-disabled, 10%);
  float: bottom;
}

.landing-footer-link {
  width: 100%;
}

.landing-footer-icon {
  font-size: 3em;
}
