/**
 * This file contains base styles for landing pages
 */

@import '../../scss/colors';

.landing {
  background: $primary-disabled;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.landing-wrapper {
  position: relative;
  height: 100%;
  min-height: 70vh;
}

/**
 * Links / Buttons
 */
.landing a {
  font-weight: bold;

  // colors
  &.landing-button {
    display: inline-block;
    padding: 16px;
    background-color: $primary-disabled;
  }
  &.landing-button__cta {
    display: inline-block;
    padding: 16px;
    background-color: $primary-cta;
  }

  &:link {
    color: white;
    text-decoration: none;
  }

  &:visited {
    color: white;
  }
}

.landing button {
  border: none;
  background: none;
  background-color: $primary-cta;
  color: white;
  display: inline-block;
  margin-top: 16px;
  padding: 12px 16px;
  font-weight: bold;
}

/**
 * Form Styles
 */
.landing form {
  display: inline-block;
  padding-top: 16px;
}

.landing-form-title {
  padding-top: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.landing label {
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 4px;
}

.landing-form-redirect {
}

.landing-form-redirect-link {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
