.editor-container {
  height: 100%;
  margin-bottom: 32px;
  // overflow: scroll;
}

.editor {
  min-height: 100%;
  background-color: #fcf8f2;
  text-align: left;
  padding: 64px 128px;
  margin-bottom: 32px;
  // overflow: scroll;
}
