$primary: #5a70e7;
$primary-focus: #283267;
$primary-contrast-1: #a7b3f2;
$primary-contrast-2: darken($primary-contrast-1, 12.5%);
$primary-contrast-3: darken($primary-contrast-1, 15%);
$primary-contrast-4: darken($primary-contrast-1, 17.5%);
$primary-contrast-5: darken($primary-contrast-1, 20%);
$primary-disabled: #474c67;
$primary-complement: #3f4e9b;

$primary-cta: rgb(245, 151, 11);
