.sidebar a {
  text-decoration: none;
}
.sidebar-notes {
  padding: 0 8px;
  list-style: none;
  text-align: left;
}

.sidebar-notes-card {
  margin-bottom: 16px;
  background-color: plum;
  text-decoration: none;
}

.sidebar-notes-card-title {
  margin: 0px;
}

.sidebar-notes-card-active {
  background-color: yellow;
}

.sidebar-notes-card-date {
}
