/**
 * THIS FILE DEFINES THE LAYOUT OF THE WORKBENCH AREA 
 */
@import '../../scss/colors';

.workbench {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  min-height: 600px;
}

// Temporary toolbar fix
.workbench h3 {
  margin-top: 0;
}

.workbench-sidebar {
  flex-basis: 20%;
}

.workbench-editor-container {
  background-color: $primary-contrast-1;
  height: 100%;
  // width: 70%;
  // flex-direction: column;
  flex-grow: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workbench-editor-toolbar {
  background-color: $primary-contrast-3;
  order: -1;
  height: 80px;
}

.workbench-editor {
  order: 1;
  // align-self: stretch;
  height: 100%;
  // position: relative;
}
