/**
 * THIS FILE DEFINES THE LAYOUT OF THE WORKBENCH AREA 
 */
@import '../../scss/colors';

.workbench {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  position: relative;
  display: flex;
  flex: none;
}

// Temporary toolbar fix
.workbench h3 {
  margin-top: 0;
}

.workbench-menu-toolbar {
  display: flex;
  background-color: $primary-contrast-3;
  height: 100%;
  flex-grow: 0;
}

.workbench-menu-mobile {
  // MUST take this element out of page flow
  position: absolute;
  z-index: 1;
}
.workbench-sidebar {
  display: inline-block;
}

.workbench-editor-container {
  background-color: $primary-contrast-1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workbench-editor-empty {
  color: $primary-disabled;
  align-self: center;
  font-size: 2.4rem;
}

.workbench-editor {
  display: flex;
  order: 1;
  height: 100%;
}
