@import '../../../../scss/colors';

.nav-container {
  background-color: $primary;
  width: 100%;
  height: 80px;
  align-items: center;
}

.nav-inner-container {
  background-color: $primary;
  max-width: 1024px;
  padding-left: 8px;
  // Center container
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  // vertically center items
  display: flex;
  align-items: center;
  // Separate the title and nav links
  justify-content: space-between;
}

.nav {
  padding-right: 8px;
}

.nav-title {
  display: inline-block;
  font-size: 2em;
  @media screen and (min-width: 420px) {
    font-size: 2.4em;
  }
}

.nav a {
  padding: 16px;
  font-weight: bold;

  &:first-child {
    margin-right: 8px;
    background-color: $primary-disabled;
  }

  &:last-child {
    background-color: $primary-cta;
  }

  &:link {
    text-decoration: none;
    color: white;
  }

  &:visited {
    color: white;
  }
}
